* {/*The star selector applies to every part of the document*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {/*This style applies to  every element of the body*/
    background-color: #d9dcd6;
}

.header {/*This style applies to the header class in the body*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {/*This style applies to the h1 tag in the header tag*/
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {/*This style applies to the class seo in h1. It shows changes in the logo*/
    color: #d9dcd6;
}

.header div {/*This style applies to the entire div in the header class*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {/*This style applies to the all the content of the unordered list in the header div */
    list-style-type: none;
}

.header div ul li {/*This style applies to every list in the ul tag. 
    This style allows for the different parts of the list to be alligned top right and by each other.*/
    display: inline-block;
    margin-left: 25px;
}

a {/*This style applies to every a tag in header div ul li*/
    color: #ffffff;
    text-decoration: none;
}

p {/*This applies to all the p tags in the document*/
    font-size: 16px;
}

.hero {/*This style applies to the hero class.It contains the main piture and its positioning.
    It allows for changes in the height, width*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {/*This style applies to the float-left class in the div id= search-engine-optimization.*/
    float: left;
    margin-right: 25px;
}

.float-right {/*This applies to the float-right class of the online-reputation div*/
    float: right;
    margin-left: 25px;
}

.content {/*This style applies to all divs in the content class div*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {/*This style applies to the every div in benefits class. 
    This style allows for the values to be alligned on the right.*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {/*This style applies to the benefits lead class.*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {/*This style applies to the benefits lead class in the benefits div*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {/*This style applies to the benefits cost class*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {/*This style applies to the h3 tag in the benefits lead class */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {/*This style applies to the h3 tag in the benefits brand class*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {/*This style applies to the h3 tag in the benefits-cost class*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {/*This style applies to the image tag in the benefit-lead class*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {/*This style applies to the image tag in the benefits brand class*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {/*This style applies to the image tag in the benefits-cost class*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {/*This style applies to the search-engine-optimization class in the content div.*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {/*This style applies to the online-reputation-management class in the content div*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {/*This style applies to the social-media-marketing class in the content div.*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {/*This style allows for changes in the image of the search-engine-optimization class */
    max-height: 200px;
}

.online-reputation-management img {/*This style allows for changes in the online-reputation-management image*/
    max-height: 200px;
}

.social-media-marketing img {/*This style adjusts the max-height of the image in the social-media-marketing class */
    max-height: 200px;
}

.search-engine-optimization h2 {/*This style applies to the h2 tag in the search-engine-optimization class*/
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {/*This style applies to the h2 tag in the online-reputation-management class*/
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {/*This style applies to the h2 tag in the social-media-marketing */
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {/*This style applies to every element of the footer class*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {/*This style applies to the h2 tag in the footer class*/
    font-size: 20px;
}
